vim9script
#
# Title: <FILENAME>
# Descr: <MODULE NAME>
# Date : <DATE>
# Ver  : 1.0

#noremap \\ :call PadBlock()<CR>
#command! -nargs=1 Main :call Main(<q-args>)

def g:Main(column: string)

  # implementation here

enddef

defcompile
