/java/nbproject/private/
/java/dist/
/java/build/
/java/lib/
/Profiler/blib
/PSInfo/blib
/StructurePrinter/blib
/Toolkit/blib
/Utilities/blib
cpp/build/
*.bak
**/pm_to_blib
**/blib/
**/MYMETA.*
**/Makefile.*
**/Makefile
**/*.swp
Build
build.log
_build/
**/CMakeFiles/
**/cmake_install.cmake
**/CMakeCache.txt
